@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #1a0327;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
.container{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#f9d349, 20%, #d57e12);
    position: relative;
}
header{
    width: 95%;
    height: 11vh;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carticon .fas {
    color: white;
    padding-left: 1130%;
}

.logo{
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}
.logo .fas{
    font-size: 50px;
}
ul.navbar{
    display: flex;
    list-style: none;
}
ul.navbar li{
    width: 120px;
}
ul.navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
ul.navbar li a.active{
    color: #ffffff;
}
ul.navbar li a:hover:not(.active){
    color: #FEC53A;
}
#btn{
    width: 250px;
    height: 10vh;
    background: #FEC53A;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}
#btn .fas{
    margin-right: 10px;
}


/*Header Navigation Bar STARTED!!*/

.cartlogo {
	text-decoration: none;
	color: white;
}

.hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus {
    border-bottom: 2px solid white;
}

nav ul li.active a {
    border-bottom: 1px solid white;
}
nav ul li.btn a {
    background: transparent;
    color: white;
    border: 1px solid #f5dca8;
    padding: 9px 20px;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}
nav ul li.btn:hover a {
    border: 1px solid white;
    color: black;
    background: white;
    transition: .4s;
}


h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}



/* Single Product page ======================== */
#prodetails {
    display: flex;
    margin-top: 20px;
    
}
#prodetails .single-pro-details {
    width: 50%;
    padding-top: 10px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
    outline: none;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}
#prodetails .single-pro-details button {
    background-color: #550381;
    color: white;
}
#prodetails .single-pro-image {
    width: 40%;
    margin-right: 50px;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
}
.small-img-col {
    flex-basis: 24% ;
    cursor: pointer;
}
/* .description-1 {
    color: #ffffff;
    width: 10px;
    height: 100%;
    border: 0.01px solid rgb(255, 255, 255);
    border-radius: 4px;
    margin: 0%;
} */

.description-1 {
    width: 670px;
    height: 1100px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin: 3%;
    transition: 0.5s;
    color: white;
    text-align: center;
  }
  .container-GD:hover {
    box-shadow: 0 0 1500px 0 rgba(112, 55, 55, 0.1);
    cursor: pointer;
  }




/* Start Media Query */
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:#E3E6f3 ;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
       
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font: 24px;

    }
    #lg-bag {
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
       
    }
    #feature {
      justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
        
    }
    #banner {
       height: 20vh;
   
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
         width: 28%;
    }
    #newsletter .form {
        width: 70%;
    }


    /* Contact Page */
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    
    }
}

@media (max-width:477px) {
    #header {
     padding: 10px 30px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    h2 {
        font-size: 32px;
    }
    h1 {
        font-size: 38px;
    }
    .section-p1 {
        padding: 20px;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #feature {
        justify-content: space-between;
    }
    product1 .pro {
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
     margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px ;
    }

    #newsletter .form {
        width: 100%;
    }
    footer .copyright {
        text-align: start;
    }

    /* Single Product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }

    /* Blog Page */
    #blog {
        padding: 100px 20px 0 20px;
    }
  
    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
     }
     #blog .blog-details {
        width: 100%;
     }


     /* About Page */
     #about-head {
       flex-direction: column;
     }

     #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }
    #about-app .video {
        width: 100%;
    }

    /* Contact Page */
    #contact-details {
        display: flex;
       flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
      flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
    /* Cart Page */
    #cart-add {
        display: flex;
       flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }
}


  /* FOoter section============ */
footer{
    width: 100%;
    height: 50vh;
    background: #282828;
    display: flex;
    align-items: center;
    
}
.footer-body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    height: 12vh;
    background-color: #FEC53A;
    color: #000;
    line-height: 1.7rem;
}
ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #FEC53A;
    margin-right: 15px;
}
ul li a:hover{
    color: #FEC53A;
}
.footer-bottom{
    width: 100%;
    height: 7vh;
    background: #1B1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}
.footer-bottom span{
    color: #FEC53A;
    font-weight: bold;
}